@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
*{
    left: 0;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    background: linear-gradient( #3549a1,#79178d);
    height:10%;
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 2px  #9f3eb3, 0 0 8px  #79178d ;
    z-index: 1;
}
.title{
    height:4rem;
    margin-right: auto;
    margin-left: auto;
}

.title h1{
    margin-bottom: 4pt;
    margin:0 0 0.2rem 0 ;
    margin-right: auto;
    margin-left: auto;
    font-size: 33pt;
    color:#fff;
    font-family: 'Allison', cursive;
    font-weight: 700;
    user-select: none;

}
.under-title{
    z-index: 0;
    background: linear-gradient( #79178d,#3549a1);
    margin-top: 3rem;
    display: inline-block;
    overflow: hidden;
    position: fixed;
    width: 10rem;
    box-shadow: 0 0 2px  #9f3eb3, 0 0 8px  #79178d ;
    height: 100%;
    float: left;
}
.under-title ul{
    margin-top: 16.8rem;
    list-style: none;
}
.under-title ul li {
    text-decoration: none;
    color:#fff;
    margin: 0 5px;
    margin-left: auto;
   margin-right: auto;
   
}
.under-title ul li a{
    color: rgb(255, 255, 255);
  line-height: 40px;
  text-decoration: none;
  font-size: 21px;
  padding: 8px 0 0 0;
  
}

@media screen and (max-width:357px) {
    .title{
        height:4rem;
        margin-right: auto;
        margin-left: auto;
    }
    
    .title h1{
        font-size: 26pt;
        color:#fff;
        font-family: 'Allison', cursive;
        font-weight: 700;
    }
   
}
@media screen and (max-width:710px) {
    .under-title{
        float: left;
        width: 23%;
    }
}